<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Untitled Document{% endblock %}</title>
{% block css %}<link href="{{ STATIC_URL }}itt.css"
                     rel="stylesheet"
                     type="text/css" />{% endblock %}
</head>

{% block body_tag %}<body id="config">{% endblock %}

<div id="header">
    <img src="/static/images/softel_logo.png" alt="Softel Systems">
    <h1>IP Test Tool</h1>
</div> <!-- header -->

{% block nav %}<div id="nav">
    <ul id="mainNav">
        <li class="config"><a href="/config">Config</a></li>
        <li class="servers"><a href="/server">Servers</a></li>
        <li class="testconfig"><a href="/testconfig">Tests</a></li>
        <li><a href="/config">Clients</a></li>
        <li><a href="/config">Checkpoints</a></li>
    </ul>
</div> <!-- nav -->{% endblock %}

<div id="wrapper">
<div id="content">{% block content %}{% endblock %}</div> <!-- content -->
</div> <!-- wrapper -->
</body>

</html>
