{% extends "base.html" %}

{% comment %}
The itt.control.testcheckpoint index.html accessible via:

    http://<hostname><:itt_port>/testcheckpoint/

    Variables:
        test_checkpoint_list (itt.control.test_checkpoint.TestCheckpoint):
        direct reference to the list of
        itt.control.test_checkpoint.TestCheckpoint objects.

{% endcomment %}

{% block css %}
<link href="{{ STATIC_URL }}test_checkpoint.css"
      rel="stylesheet"
      type="text/css" />
{% endblock %}

{% block body_tag %}<body id="testcheckpoint">{% endblock %}

{% block title %}IP Test Tool Test Checkpoint{% endblock %}

{% block content %}
<h1>Test Checkpoints</h1>
<div id="testCheckpointList">
<table>
    <thead>
        <tr>
            <th id="nodeHead">Node</th>
            <th id="uidHead">UID</th>
            <th id="roleHead">Role</th>
            <th id="insertDateHead">Date Inserted</th>
            <th id="actionHead">&nbsp;</th>
        </tr>
    </thead>
    {% if test_checkpoint_list %}
    <tbody>
    {% for test_checkpoint in test_checkpoint_list %}
        {% if forloop.counter|divisibleby:"2" %}
        <tr>
        {% else %}
        <tr class="odd">
        {% endif %}
            <td class="textLeftAlign">{{ test_checkpoint.node.uid }}</td>
            <td class="textLeftAlign">{{ test_checkpoint.node.uid }}</td>
            <td>{{ test_checkpoint.node.role }}</td>
            <td class="textLeftAlign">
                {{ test_checkpoint.created_date }}
            </td>
            <td>
                <form class="imageForm"
                      action="/testcheckpoint/delete/" method="post">
                    {% csrf_token %}
                    <input type="image"
                           name="submit"
                           value="test_checkpoint_del_pk_{{ test_checkpoint.pk }}"
                           src="/static/images/itt_delete.png"
                           alt="Test Checkpoint Delete"/ >
                </form>
            </td>
        </tr>
    {% endfor %}
    {% else %}
        <tr>
            <td colspan="5"><i>No test checkpoints available</i></td>
        </tr>
    {% endif %}
    </tbody>
</table>
</div> <!-- testCheckpointList -->

{% endblock %} {# checkpoint #}
