@import url('/static/itt_nav.css');

#header {
    background-color: #9900cc;
    height: 36px;
}
#header img {
    float: left;
}
#header h1 {
    float: right;
    position: relative;
    text-align: right;
    color: #fff;
    font-size: 1.5em;
    padding-top: 8px;
    padding-right: 30px;
    border-bottom: 0;
    margin: 0;
}
#wrapper {
    position: relative;
    width: 700px;
    height: auto;
    margin: 15px auto;
    background-color: #fff;
    padding-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0px 2px 5px #888;
}
#content {
    postion: relative;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}
#content fieldset {
    border: 0;
}

h1 {
    font-size: 1.3em;
    color: #616161;
    font-weight: normal;
    font-family: Century Gothic, sans-serif;
    border-bottom: 1px solid #ccc;
}
body {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    /*font-family: Tahoma, Geneva, sans-serif;*/
    font-family: Century Gothic, sans-serif;
    /*background-color: #fff;*/
    /*background-color: #e3dcc5;*/
    background-color: #d1d1d1;
}
table {
    position: static;
    top: 1em;
    border-collapse: collapse;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: thin solid #ccc;
}
thead {
    background-color: #d1d1d1;
    border-top: 2px solid #a5a5a5;
    border-bottom: 2px solid #a5a5a5;
    text-align: center;
    padding: 0.4em;
}
th {
    font-weight: bold;
    padding: 0.4em;
    text-align: center;
}
td {
    font-weight: normal;
    padding: 0.4em;
    text-align: center;
}
tfoot td {
    text-align: left;
}
.odd {
    background-color: #f1f1f1;
}
.textLeftAlign {
    padding-left: 2%;
    text-align: left;
}
