#wrapper {
        position: relative;
        width: 700px;
        height: 730px;
        margin: auto;
        background-color: #fff;
}
body {
        font-family: Tahoma, Geneva, sans-serif;
        background-color: #fff;
}
table {
    position: static;
    top: 1em;
    border-collapse: collapse;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: thin solid #ccc;
}
thead {
        background: #f1f1f1;
        color: #5b76ea;
        border-top: 3px solid #a5a5a5;
        border-bottom: 3px solid #a5a5a5;
}
th, td {
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    text-align: left;
}
th {
    font-weight: bold;
}
td {
    font-weight: normal;
}
