@import url('/static/itt.css');

#testContentList, #testContentAdd {
    padding-bottom: 5%;
}
#nameHead {
    padding-left: 2%;
    text-align: left;
    width: 40%;
}
#staticHead {
    width: 10%;
}
#bytesHead {
    width: 20%;
}
#id_name {
    width: 200px;
}
#id_static, #id_bytes {
    width: 40px;
}
.nameLeftAlign {
    padding-left: 2%;
    text-align: left;
}
.actionsIcons {
    padding: 0;
}
.imageForm {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
