{% comment %}
The itt.control.config index.html accessible via:

    http://<hostname>:8080/config/

    Variables:
        config (itt.control.config.Config): direct reference to the Config
        object

{% endcomment %}

<h1>ITT Config index ...</h1>

{% if config %}
    <ul>
        <b>Is standalone?: </b> {{ config.standalone }}<br />
        <b>Activate client?:</b> {{ config.client }}<br />
        <b>Activate server?:</b> {{ config.server }}<br />
        <b>Role this instance plays: </b> {{ config.get_role_display }}
    </ul>
{% endif %}

<a href="/config/update/">Modify Settings?</a>
