{% extends "base.html" %}

{% comment %}
The itt.control.testconnection update.html accessible via:

    http://<hostname><:itt_port>/testconnection/update

    Variables:
        test_connection_list (itt.control.test_connection.TestConnection):
        direct reference to the list of
        itt.control.test_connection.TestConnection objects.

{% endcomment %}

{% block css %}
<link href="{{ STATIC_URL }}test_connection.css"
      rel="stylesheet"
      type="text/css" />
{% endblock %}

{% block body_tag %}<body id="testconnection">{% endblock %}

{% block title %}IP Test Tool Test Connection Update{% endblock %}

{% block content %}
<h1>Test Connection Update</h1>
<div id="testConnectionList">
<form action="/testconnection/" method="post">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th id="nameHead">Test Connection Name</th>
                <th id="hostHead">Hostname</th>
                <th id="portHead">Port</th>
                <th id="protocolHead">Protocol</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4">
                    <input type="submit"
                           name="submit"
                           value="Update Test Connection">
                    </input>
                    <input type="reset" value="Reset"></input>
                    <input type="submit"
                           name="cancel"
                           value="Cancel">
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td class="nameLeftAlign">{{ form.name }}</td>
                <td>{{ form.host }}</td>
                <td>{{ form.port }}</td>
                <td>{{ form.protocol }}</td>
            </tr>
        </tbody>
    </table>
</form>
</div> <!-- testConnectionList -->
{% endblock %} {# content #}
